<div class="container">
    <h1>  <span class="glyphicon glyphicon-user"></span> {{title}} </h1> 
    
    <!-- Button trigger modal
    <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#register">
      Registrar 
    </button> -->
    
    <div id="crimes" class="table-responsive">
                    <table class="table table-bordered table-hover t">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>fecha</th>
                                <th>hora</th>
                                <th>descripcion</th>
                                <th>fecha</th>

                                <th>Denunciante nombre</th>
                                <th>Denunciante fecha nacimiento</th>
                                <th>Denunciante ocupacion</th>
                                <th>Denunciante direccion</th>
                                <th>Denunciante estado civil</th>
                                
                                <th>Victitma nombre</th>
                                <th>Victitma fecha nacimiento</th>
                                <th>Victitma ocupacion</th>
                                <th>Victitma direccion</th>
                                <th>Victitma estado civil</th>
                                
                                <th>Aprehendido nombre</th>
                                <th>Aprehendido fecha nacimiento</th>
                                <th>Aprehendido ocupacion</th>
                                <th>Aprehendido direccion</th>
                                <th>Aprehendido estado civil</th>
                              </tr>
                        </thead>
                        <tbody>
    
                            <tr *ngFor="let crime of crimes; let i = index">
                                <td>{{crime.id}}</td>
                                <td>{{crime.date}}</td>
                                <td>{{crime.time}}</td>
                                <td>{{crime.place}}</td>
                                <td>{{crime.description}}</td>

                                <td>{{crime.d_name}}</td>
                                <td>{{crime.d_birthdate}}</td>
                                <td>{{crime.d_occupation}}</td>
                                <td>{{crime.d_home}}</td>
                                <td>{{crime.d_civilstatus}}</td>

                                <td>{{crime.v_name}}</td>
                                <td>{{crime.v_birthdate}}</td>
                                <td>{{crime.v_occupation}}</td>
                                <td>{{crime.v_home}}</td>
                                <td>{{crime.v_civilstatus}}</td>

                                <td>{{crime.a_name}}</td>
                                <td>{{crime.a_birthdate}}</td>
                                <td>{{crime.a_occupation}}</td>
                                <td>{{crime.a_home}}</td>
                                <td>{{crime.a_civilstatus}}</td>
                    
                              </tr>
                        </tbody>
                    </table>              

        </div>     









      

    
</div>


