
<div class="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
          <a [routerLink]="['/home']" class="navbar-brand">
            <span class="glyphicon glyphicon-bullhorn"></span>  {{title}} - Distrito Policial 1
          </a>
        </div>


      <ul class="nav navbar-nav" *ngIf = "identity">

   
            <li>
              <a [routerLink]="['/policemen']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-user"></span>
                Efectivos policiales
              </a>
            </li>

            <li>
              <a  [routerLink]="['/crimes']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-book"></span>
                  Hechos delictivos
              </a>
            </li>

            <li>
                <a  [routerLink]="['/statistics']" [routerLinkActive]="['active']">
                  <span class="glyphicon glyphicon-map-marker"></span>
                  Estadisticas
                </a>
            </li>


          </ul>




      


          <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
            <li>
              <a  [routerLink]="['/login']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-log-in"></span>
                Ingresar
              </a>
            </li>


          </ul>

          <ul class="nav navbar-nav navbar-right" *ngIf="identity">
            <li class="avatar">
          <!--   cargar imagen de user -->
          <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image">
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{identity.email}} <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">


                    <li>
                        <a class="pointer" (click)="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                          Salir
                        </a>
                      </li>
                </ul>
            </li>
      </ul>

      
    </div>
  </nav>
</div>


<router-outlet></router-outlet>

